@model EmpPassVM

<h5>Exit Permit #:@Model.EmpGpNo </h5>

<div class="card-body">
    <div class="mb-1">
        <small class="text-light fw-medium">Gatepass details</small>
    </div>
    <div class="row mb-1">
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" class="form-control" value="@Model.GateName" readonly />
                <label>Gate Name</label>
            </div>
        </div>
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" class="form-control" value="@Model.ExpLoc" readonly />
                <label>Location</label>
            </div>
        </div>
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" class="form-control" value="@Model.ExpReason" readonly />
                <label>Reason</label>
            </div>
        </div>
    </div>

    <div class="row mb-1">

        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" class="form-control" value="@Model.ExpOutTime.ToString()" readonly />
                <label>Out time</label>
            </div>
        </div>
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" class="form-control" value="@Model.IsReturn" readonly />
                <label>Is Return</label>
            </div>
        </div>
    </div>

    <div>
        <div class="mb-1">
            <small class="text-light fw-medium">Exit Permit Employees</small>
        </div>
        @foreach (var item in Model.ShowGPItemVMList)
        {
            <div class="row mb-1">
                <div class="col-6 g-1">
                    <div class="form-floating form-floating-outline">
                        <input type="text" class="form-control" value="@item.EmpName" readonly />
                        <label>Employee Name</label>
                    </div>
                </div>
                <div class="col-6 g-1">
                    <div class="form-floating form-floating-outline">
                        <input type="text" class="form-control" value="@item.EmpEPF" readonly />
                        <label>Employee EPF</label>
                    </div>
                </div>

            </div>
        }
    </div>
    <div>
        <div class="row mb-1">
            <div class="col-3 g-1 offset-6">
                <button type="button" class="btn btn-danger w-100" id="btnReject">Reject</button>
            </div>
            <div class="col-3 g-1 ">
                <button type="button" class="btn btn-success w-100" id="btnApprove">Approve</button>
            </div>
        </div>
    </div>
</div>

