@model ShowGPListVM

<h5>Gatepass #: @Model.GGpReference</h5>

<div class="card-body">
    <div class="mb-1">
        <small class="text-light fw-medium badge badge-info">Gatepass details</small>
    </div>
    <div class="row mb-1">
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" asp-for="GpSubject" class="form-control" />
                <label for="Attention">Subject</label>
            </div>
        </div>
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" asp-for="GeneratedUser" class="form-control" />
                <label for="Attention">Generated User</label>
            </div>
        </div>
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" asp-for="GeneratedDateTime" class="form-control" />
                <label for="Attention">Generated Date\Time</label>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" asp-for="Attention" class="form-control" />
                <label for="Attention">Attention</label>
            </div>
        </div>
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" asp-for="ApprovedBy" class="form-control" />
                <label for="Attention">Approved By</label>
            </div>
        </div>
        <div class="col-4 g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" asp-for="ApprovedDateTime" class="form-control" />
                <label for="Attention">Approved Date\Time</label>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col g-1">
            <div class="form-floating form-floating-outline">
                <input type="text" asp-for="GGPRemarks" class="form-control" />
                <label for="Attention">Remarks</label>
            </div>
        </div>
    </div>

    <div class="mb-2">
        <small class="text-light fw-medium badge badge-info">Gatepass Items</small>
        @foreach (var item in Model.ShowGPItemVMList)
        {
            <div class="row mb-1">
                <div class="col-3 g-1">
                    <div class="form-floating form-floating-outline">
                        <input type="text" class="form-control" value="@item.ItemName" readonly />
                        <label>Item Name</label>
                    </div>
                </div>
                <div class="col-3 g-1">
                    <div class="form-floating form-floating-outline">
                        <input type="text" class="form-control" value="@item.ItemDescription" readonly />
                        <label>Item Description</label>
                    </div>
                </div>
                <div class="col-3 g-1">
                    <div class="form-floating form-floating-outline">
                        <input type="text" class="form-control" value="@item.Quantity" readonly />
                        <label>Quantity</label>
                    </div>
                </div>
                <div class="col-3 g-1">
                    <div class="form-floating form-floating-outline">
                        <input type="text" class="form-control" value="@item.UOM" readonly />
                        <label>UOM</label>
                    </div>
                </div>
            </div>
        }
    </div>


    <div>
        <div class="row mb-1">           
            <div class="col-3 g-1 offset-6">
                <button type="button" class="btn btn-danger w-100" id="btnReject">Reject</button>
            </div>
            <div class="col-3 g-1 ">
                <button type="button" class="btn btn-success w-100" id="btnApprove">Approve</button>
            </div>
        </div>
    </div>
</div>

