@model InquiryVM

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
    <link href="~/css/input-text-upper.css" rel="stylesheet" />
}

@section VendorScripts {
    <script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
}

@section PageScripts {
    <script src="~/js/form-layouts.js"></script>
    <script src="~/custom/input-text-upper.js"></script>

    <script>
        $(document).ready(function () {
            function isInteger(value) {
                return typeof value === 'number' && Number.isInteger(value);
            }          

            function handleChange() {
                var dateRespReq = new Date(document.getElementById("dateInqReceived").value);

                // Check if a valid date is selected
                if (!isNaN(dateRespReq)) {
                    // Add 2 days to the date
                    dateRespReq.setDate(dateRespReq.getDate());

                    // Format the date back to 'YYYY-MM-DD'
                    var designRequiredDate = dateRespReq.toISOString().split('T')[0];

                    var selectedInqTypeId = document.getElementById("inquiryTypeId").value;
                    var selectedRepTypeId = document.getElementById("responseTypeId").value;
                    var selectedCustomerId = document.getElementById("customerId").value;
                    var selectedSampTypeId = document.getElementById("sampleTypeId").value;
                    var selectedSampStageId = document.getElementById("sampleStageId").value;

                    // Convert values to integers and check if they are valid integers
                    selectedInqTypeId = parseInt(selectedInqTypeId, 10);
                    selectedRepTypeId = parseInt(selectedRepTypeId, 10);
                    selectedCustomerId = parseInt(selectedCustomerId, 10);
                    selectedSampTypeId = parseInt(selectedSampTypeId, 10);
                    selectedSampStageId = parseInt(selectedSampStageId, 10);

                    if (isInteger(selectedInqTypeId) &&
                        isInteger(selectedRepTypeId) &&
                        isInteger(selectedCustomerId) &&
                        isInteger(selectedSampTypeId) &&
                        isInteger(selectedSampStageId) &&
                        designRequiredDate != '') {

                        let loadUrl = '@Url.Action("LoadActsAndSubActs", "NewInquiry", new { area = "PLMS" })';

                        $.ajax({
                            url: loadUrl,
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                inquiryTypeId: selectedInqTypeId,
                                responseTypeId: selectedRepTypeId,
                                customerId: selectedCustomerId,
                                sampleTypeId: selectedSampTypeId,
                                sampleStageId: selectedSampStageId,
                                selectedDate :designRequiredDate
                            }),
                            success: function (data) {
                                var container = $('#activityContainer');
                                container.empty();

                                $.each(data, function (index, activity) {
                                    // Create a new row for each main activity and its sub-activities
                                    var rowHtml = `<div class="row mt-1">`;

                                    // Create HTML for the main activity
                                    rowHtml += `<div class="col-4 mt-1 rounded-3 mn-activity">
                                                <div class="row mt-1">
                                                   <h5 class="fw-bold mt-3">(${index + 1}). ${activity.activiytName} </h5>
                                                     <h6 class="fw-bold">[${activity.userCategoryText}]</h6>
                                                     <div class="col-6 d-flex align-items-center justify-content-end">
                                                          <label for="${activity.activityId}" class="form-label">Plan Date</label>
                                                      </div>
                                                  <div class="col-6">
                                                             <input type="hidden" name="ActivityList[${index}].UserCategoryId" value="${activity.userCategoryId}" />
                                                     <input type="hidden" name="ActivityList[${index}].ActivityId" value="${activity.activityId}" />
                                                     <input type="date" id="${activity.activityId}"  class="form-control dob-picker flatpickr-input" name="ActivityList[${index}].ActiviytValue"  value="${activity.activiytValue}" placeholder="YYYY-MM-DD" />
                                                  </div>
                                                </div>
                                                <div class="row mt-1">
                                                  <div>
                                                    <div class="mb-3">
                                                     <label for="commentTextarea-${activity.activityId}" class="form-label">Comments</label>
                                                         <textarea class="form-control rounded-2" id="commentTextarea-${activity.activityId}" name="ActivityList[${index}].ActivityComment" rows="2"></textarea>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>`;

                                    // Iterate over sub-activities and create HTML for each
                                    $.each(activity.subActivityList, function (subIndex, subActivity) {
                                        rowHtml += `<div class="col-4 mt-1 rounded-3 ms-2 sub-activity">
                                                        <div class="row mt-1">
                                                           <h6 class="fw-bold mt-3">[${subIndex + 1}]. ${subActivity.activiytName} </h6>
                                                           <h6 class="fw-bold">[${subActivity.userCategoryText}] </h6>
                                                              <div class="col-6 d-flex align-items-center justify-content-end">
                                                                          <label for="${subActivity.activityId}" class="form-label">Plan Date</label>
                                                              </div>                                                     
                                                            <div class="col-6">
                                                             <input type="hidden" name="ActivityList[${index}].SubActivityList[${subIndex}].UserCategoryId" value="${subActivity.userCategoryId}" />
                                                             <input type="hidden" name="ActivityList[${index}].SubActivityList[${subIndex}].ActivityId" value="${subActivity.activityId}" />
                                                             <input type="date" id="subactivity-${subActivity.activityId}"  class="form-control dob-picker flatpickr-input" name="ActivityList[${index}].SubActivityList[${subIndex}].ActiviytValue"  value="${subActivity.activiytValue}" placeholder="YYYY-MM-DD" />
                                                          </div>                                                         
                                                        </div>
                                                        <div class="row mt-1">
                                                          <div>
                                                            <div class="mb-3">
                                                              <label for="SubcommentTextarea-${subActivity.activityId}" class="form-label">Comments</label>
                                                              <textarea class="form-control rounded-2" id="SubcommentTextarea-${subActivity.activityId}" name="ActivityList[${index}].SubActivityList[${subIndex}].ActivityComment" rows="2"></textarea>
                                                            </div>
                                                          </div>
                                                        </div>
                                                     </div>`;
                                    });
                                    rowHtml += `</div>`;
                                    container.append(rowHtml);
                                });
                            },
                            error: function (xhr, status, error) {
                                console.error("Error:", xhr);
                                console.error("Error:", status);
                                console.error("Error:", error);
                              }
                        });

                    }
                }
            }

            $(".select2").change(function () {
                handleChange();
            });

            document.getElementById("dateInqReceived").addEventListener("change", handleChange);

           $('#myForm').on('submit', function (e) {
                let isValid = true;

                // First: check required fields
                $('.requiredField').each(function () {
                    const field = $(this);

                    if (!field.val()) {
                        alert('Required field is still missing!');
                        isValid = false;
                        return false; // break the .each loop
                    }
                });

                if (!isValid) {
                    e.preventDefault();
                    return false;
                }

                // Second: check if activityContainer has any elements
                if ($('#activityContainer').children().length === 0) {
                    alert("Please add at least one activity.");
                    e.preventDefault();
                    return false;
                }

                  // 3. Check if artwork is uploaded
                if (!$('#artwork').val()) {
                    alert("Please upload an image.");
                    e.preventDefault();
                    return false;
                }

                // Form passes all checks; allow submission
            });

        });
    </script>

}

@section PageStyles {
    <style>
        .mn-activity {
            background-color: rgba(115,140,171, 0.3)
        }

        .sub-activity {
            background-color: rgba(177,192,216, 0.1)
        }

        .list-group {
            flex-direction: row !important
        }
    </style>
}

<!-- Multi Column with Form Separator -->
<div class="card mb-6">
    <h5 class="card-header page-header">
        New Inquiry Submission
    </h5>
    <form asp-action="Create" method="post" class="card-body" id="myForm" enctype="multipart/form-data">

        <div class="row g-4">

            <div class="col-md-4">
                <div class="form-floating form-floating-outline">
                    <select asp-for="@Model.Inquiry!.CustomerId" asp-items="@Model.CustomersList" id="customerId" class="select2 form-select requiredField" data-allow-clear="true">
                        <option Disabled Selected>- Select Customer -</option>
                    </select>

                    <label for="CustomerId">
                        Customer
                    </label>
                    <span asp-validation-for="Inquiry!.CustomerId" class="customerError text-warning"></span>
                </div>
            </div>

            <div class="col-md-4">               
                <div class="form-floating form-floating-outline">
                    <select asp-for="@Model.Inquiry!.InquiryTypeId" asp-items="@Model.InquiryTypesList" id="inquiryTypeId" class="select2 form-select requiredField" data-allow-clear="true">
                        <option Disabled Selected>- Select Inquiry Type -</option>
                    </select>

                    <label for="inquiryTypeId">
                        Inquiry Type
                    </label>
                    <span asp-validation-for="Inquiry!.InquiryTypeId" class="customerError text-warning"></span>
                </div>
            </div>           

            <div class="col-md-4">
                <div class="form-floating form-floating-outline">
                    <select asp-for="@Model.Inquiry!.ResponseTypeId" asp-items="@Model.ResponseTypesList" id="responseTypeId" class="select2 form-select requiredField" data-allow-clear="true">
                        <option Disabled Selected>- Select Response Type -</option>
                    </select>

                    <label for="ResponseTypeId">
                        Response Type
                    </label>
                    <span asp-validation-for="Inquiry!.ResponseTypeId" class="customerError text-warning"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating form-floating-outline">
                    <select asp-for="@Model.Inquiry!.InquirySeasonId" asp-items="@Model.SeasonsList" id="InquirySeasonId" class="select2 form-select requiredField" data-allow-clear="true">
                        <option Disabled Selected>- Select Season -</option>
                    </select>

                    <label for="InquirySeasonId">
                        Season
                    </label>
                    <span asp-validation-for="Inquiry!.InquirySeasonId" class="customerError text-warning"></span>
                </div>
            </div>           

            <div class="col-md-4">
                <div class="form-floating form-floating-outline">
                    <select asp-for="@Model.Inquiry!.SampleStageId" asp-items="@Model.SampleStagesList" id="sampleStageId" class="select2 form-select requiredField" data-allow-clear="true">
                        <option Disabled Selected>
                            - Extend -
                        </option>
                    </select>

                    <label for="SampleStageId">
                        Extend
                    </label>
                    <span asp-validation-for="Inquiry!.SampleStageId" class="customerError text-warning"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating form-floating-outline">
                    <select asp-for="@Model.Inquiry!.SampleTypeId" asp-items="@Model.SampleTypesList" id="sampleTypeId" class="select2 form-select requiredField" data-allow-clear="true">
                        <option Disabled Selected>
                            - Sub Extend -
                        </option>
                    </select>

                    <label for="SampleTypeId">
                        Sub Extend
                    </label>
                    <span asp-validation-for="Inquiry!.SampleTypeId" class="customerError text-warning"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating form-floating-outline">
                    <input asp-for="@Model.Inquiry!.StyleNo" type="text" id="style-no" class="form-control requiredField" placeholder="TXMTLAN20209" />
                    <label for="style-no">
                        Style #
                    </label>
                    <span asp-validation-for="Inquiry!.StyleNo" class="customerError text-warning"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating form-floating-outline">
                    <input asp-for="@Model.Inquiry!.StyleDesc" type="text" id="style-desc" class="form-control requiredField" placeholder="SHAPEWEAR" />
                    <label for="style-desc">
                        Style Description
                    </label>
                    <span asp-validation-for="Inquiry!.StyleDesc" class="customerError text-warning"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating form-floating-outline">
                    <input asp-for="@Model.Inquiry!.ColorCode" type="text" id="color-code" class="form-control requiredField" placeholder="BLUE" />
                    <label for="color-no">
                        Color
                    </label>
                    <span asp-validation-for="Inquiry!.ColorCode" class="customerError text-warning"></span>
                </div>
            </div>

             <div class="col-md-8">
                <div class="form-floating form-floating-outline">
                    <input asp-for="@Model.Inquiry!.InquiryComment" type="text" id="inquiry-comment" class="form-control requiredField" placeholder="Comments" />
                    <label for="color-no">
                        Comment
                    </label>
                    <span asp-validation-for="Inquiry!.InquiryComment" class="customerError text-warning"></span>
                </div>
            </div>

            <div class="col-4">
                <div class="list-group">
                    <label class="list-group-item w-50">
                        <span class="form-check mb-0">
                            <input asp-for="@Model.Inquiry!.IsPriceStageAv" class="form-check-input me-4" type="checkbox">
                            Price Stage
                        </span>
                    </label>
                    <label class="list-group-item w-50">
                        <span class="form-check mb-0">
                            <input asp-for="@Model.Inquiry!.IsSMVStageAv" class="form-check-input me-4" type="checkbox">
                            SMV Stage
                        </span>
                    </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <input asp-for="@Model.Inquiry!.InquiryRecDate" type="date" id="dateInqReceived" class="form-control dob-picker requiredField" placeholder="YYYY-MM-DD" />
                    <label for="dateInqReceived">
                        Inquiry Received Date
                    </label>
                    <span asp-validation-for="Inquiry!.InquiryRecDate" class="customerError text-warning"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <input asp-for="@Model.Inquiry!.InquiryReqDate" type="date" id="dateResponseReq" class="form-control dob-picker requiredField" placeholder="YYYY-MM-DD" />
                    <label for="dateResponseReq">
                        Response Requested Date
                    </label>
                    <span asp-validation-for="Inquiry!.InquiryReqDate" class="customerError text-warning"></span>
                </div>
            </div>

            <div class="col-4">
                <input class="form-control" type="file" id="artwork" name="artwork" accept=".jpg, .jpeg, .png">
                <label for="formFile" class="form-label">Artwork</label>

                @if (ViewData.ModelState["artwork"]?.Errors.Count > 0)
                {
                    <span class="text-danger">@ViewData.ModelState["artwork"]!.Errors[0].ErrorMessage</span>
                }
            </div>

            <div class="col-md-3">
            </div>

            <div id="activityContainer">
            </div>

            <div class="pt-1">
                <button type="submit" class="btn btn-primary me-1">Submit</button>
                <a asp-controller="NewInquiry" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>

        </div>
    </form>

</div>
