@using TMIS.Models.ITIS.VM
@model CreateAttributeVM

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
<link href="~/css/input-text-upper.css" rel="stylesheet" />
}

@section VendorScripts {
<script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
<script src="~/vendor/libs/select2/select2.js"></script>
}

@section PageScripts {
<script src="~/js/form-layouts.js"></script>
<script src="~/custom/input-text-upper.js"></script>
}

<!-- Multi Column with Form Separator -->
<div class="card mb-6">
	<h5 class="card-header page-header">
		Edit Attribute
	</h5>
	<form class="card-body" id="myForm" enctype="multipart/form-data">
		<input asp-for="@Model.Attribute!.AttributeID" type="hidden" />
		<div class="row g-2">

			<div class="col-md-3">
				<div class="form-floating form-floating-outline">
					<select asp-for="@Model.Attribute!.DeviceTypeID" asp-items="@Model.DeviceTypeList" class="select2 form-select" data-allow-clear="true" disabled>
						<option Disabled Selected>- Select Model -</option>
					</select>

					<label asp-for="Attribute!.DeviceTypeID"></label>
					<span asp-validation-for="@Model.Attribute!.DeviceTypeID" class="text-warning"></span>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-floating form-floating-outline">
					<input asp-for="@Model.Attribute!.Name" type="text" id="style-no" class="form-control" placeholder="Brand" disabled />
					<label asp-for="@Model.Attribute!.Name"></label>
					<span asp-validation-for="@Model.Attribute!.Name" class="customerError text-warning"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-floating form-floating-outline">
					<select id="dataTypeSelect" asp-for="@Model.Attribute!.DataType" asp-items="@Model.AttributeTypeList" class="select2 form-select" data-allow-clear="true" disabled>
						<option value="" Disabled Selected>- Select Attribute Type -</option>
					</select>

					<label asp-for="Attribute!.DataType"></label>
					<span asp-validation-for="Attribute!.DataType" class="text-warning"></span>
				</div>
			</div>
			@if (Model.AttributeListOption != null && Model.AttributeListOption.Any())
			{
				<div class="col-md-6">
					<label class="form-label">Pick List Options</label>
					<table class="table mt-3" id="pickListTable">
						<thead>
							<tr>
								<th>Pick List Item</th>
							</tr>
						</thead>
						<tbody>
							@{
								var index = 0;
								foreach (var item in Model.AttributeListOption)
								{
									<tr>
										<td>
											<input type="hidden" name="AttributeListOption[@index].OptionText" value="@item.OptionText" disabled />
											@item.OptionText
										</td>
									</tr>
									;
									index++;
								}
							}
						</tbody>
					</table>
				</div>
			}
			
			<div class="col-md-3">
			</div>

			<div id="activityContainer">
			</div>

			<div class="pt-1">		
				<a asp-controller="Attribute" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
			</div>

		</div>
	</form>

</div>

