@model IEnumerable<TransMC>

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link href="~/vendor/libs/toastr/toastr.css" rel="stylesheet" />
}

@section PageScripts {
    <script src="~/custom/tables-datatables-basic.js"></script>
    <script src="~/custom/loading-hide.js"></script>
    <script src="~/vendor/libs/toastr/toastr.js"></script>

    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
            toastr.success('@TempData["success"]');
        </script>
        TempData.Clear();
    }
}

@* ************** Content ************** *@
<!-- Ajax Sourced Server-side -->
@await Html.PartialAsync("_Loading")
<div class="panelDiv">
    <div class="card mb-6">
        <div class="card-header px-0 pt-0">
            <h5 class="card-header page-header">
                Renting Machine Requests
            </h5>
        </div>
        <div class="card-body">
            <div class="card-datatable text-nowrap">
                <table class="datatables-ajax table table-bordered dt-tbl">
                    <thead>
                        <tr class="table-info">
                            <th>
                                QR Code
                            </th>

                            <th>
                                Serial No
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Unit
                            </th>
                            <th>
                                Supplier
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.QrCode</td>
                                <td>@item.SerialNo</td>
                                <td>@item.MachineType</td>      
                                <td>@item.CurrentUnit</td>
                                <td>@item.Supplier</td>
                                <td>
                                    <a class="edit-record btn btn-primary btn-sm" asp-controller="Renting" asp-action="Details" asp-route-id="@item.Id"> <i class="ri-recycle-fill"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

