@using TMIS.Models.HRRS.VM
@model Create

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
    <link href="~/css/input-text-upper.css" rel="stylesheet" />
    <link href="~/vendor/libs/toastr/toastr.css" rel="stylesheet" />
}

@section VendorScripts {
    <script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
}

@section PageScripts {
    <script src="~/vendor/libs/toastr/toastr.js"></script>
    <script src="~/js/form-layouts.js"></script>
    <script src="~/custom/input-text-upper.js"></script>

    @if (TempData["success"] != null)
	{
		<script src="~/vendor/libs/toastr/toastr.js"></script>
		<script type="text/javascript">
			toastr.success('@TempData["success"]');
		</script>
		TempData.Clear();
	}
	@if (TempData["error"] != null)
	{
		<script src="~/vendor/libs/toastr/toastr.js"></script>
		<script type="text/javascript">
            toastr.error('@TempData["error"]');
		</script>
		TempData.Clear();
	}


    <script>
        $(document).ready(function () {
            $('select[name="Designation"]').select2({
                placeholder: "- Choose or enter a designation -",
                allowClear: true,
                tags: true, // Allow custom values
                createTag: function (params) {
                    var term = $.trim(params.term);
                    if (term === '') {
                        return null;
                    }
                    return {
                        id: term,
                        text: term,
                        newOption: true
                    };
                },
                insertTag: function (data, tag) {
                    data.push(tag); // Add custom entry to the list
                }
            });

            $('select[name="Location"]').select2({
                placeholder: "- Choose or enter a location -",
                allowClear: true,
                tags: true, // Allow custom values
                createTag: function (params) {
                    var term = $.trim(params.term);
                    if (term === '') {
                        return null;
                    }
                    return {
                        id: term,
                        text: term,
                        newOption: true
                    };
                },
                insertTag: function (data, tag) {
                    data.push(tag); // Add custom entry to the list
                }
            });

            const $simDropdown = $('select[name="HRRS_ITRequest.SIM"]');
            const $homeAddress = $('#homeAddressContainer');

            const $recruitmentTypeDropdown = $('select[name="HRRS_ITRequest.RecruitmentType"]');
            const $employeeList = $('#employeeListContainer');

            function toggleHomeAddress() {
              const val = $simDropdown.val();
              if (val == "Yes") {
                  $homeAddress.show();
              } else {
                  $homeAddress.hide(); 
              }
            }

            function toggleEmpList() {
              const val = $recruitmentTypeDropdown.val();
              if (val == "Replacement") {
                  $employeeList.fadeIn();
              } else {
                  $employeeList.fadeOut();
              }
            }

            // Trigger on change
            $simDropdown.on('change', toggleHomeAddress);
            $recruitmentTypeDropdown.on('change', toggleEmpList);

            // Trigger once on page load (to handle postback with validation errors)
            toggleHomeAddress();
            toggleEmpList();      
        });
    </script>
}

<div class="card mb-6">
    <h5 class="card-header page-header">New IT Request</h5>
    <form asp-action="Create" method="post" class="card-body" id="itRequestForm">
        <div class="row g-2">
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <input asp-for="HRRS_ITRequest.FirstName" class="form-control" placeholder="First Name" />
                    <label asp-for="HRRS_ITRequest.FirstName"></label>
                    <span asp-validation-for="HRRS_ITRequest.FirstName" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <input asp-for="HRRS_ITRequest.LastName" class="form-control" placeholder="Last Name" />
                    <label asp-for="HRRS_ITRequest.LastName"></label>
                    <span asp-validation-for="HRRS_ITRequest.LastName" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <input asp-for="HRRS_ITRequest.EmployeeNo" type="number" class="form-control" placeholder="Employee No" />
                    <label asp-for="HRRS_ITRequest.EmployeeNo"></label>
                    <span asp-validation-for="HRRS_ITRequest.EmployeeNo" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.Designation" asp-items="Model.DesignationList" class="select2 form-select" data-allow-clear="true">
                        <option value="" disabled selected>- Choose or enter a designation -</option>
                    </select>
                    <label asp-for="HRRS_ITRequest.Designation"></label>
                    <span asp-validation-for="HRRS_ITRequest.Designation" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.Department" asp-items="@Model.DepartmentList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select Department -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.Department"></label>
                    <span asp-validation-for="HRRS_ITRequest.Department" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.Location" asp-items="@Model.LocationList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Choose or enter a Location -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.Location"></label>
                    <span asp-validation-for="HRRS_ITRequest.Location" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <input asp-for="HRRS_ITRequest.Company" class="form-control" placeholder="Company" />
                    <label asp-for="HRRS_ITRequest.Company"></label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <input asp-for="HRRS_ITRequest.NIC" class="form-control" placeholder="NIC" />
                    <label asp-for="HRRS_ITRequest.NIC"></label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <input asp-for="HRRS_ITRequest.InterviewDate" type="date" class="form-control" />
                    <label asp-for="HRRS_ITRequest.InterviewDate"></label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <input asp-for="HRRS_ITRequest.DueStartDate" type="date" class="form-control" />
                    <label asp-for="HRRS_ITRequest.DueStartDate"></label>
                </div>
            </div>         
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.RecruitmentType" asp-items="@Model.RecruitmentTypeList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select Recruitment Type -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.RecruitmentType"></label>
                    <span asp-validation-for="HRRS_ITRequest.RecruitmentType" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3" id="employeeListContainer" style="display: none;">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.Replacement" asp-items="@Model.EmployeeList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select Recruitment Type -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.Replacement"></label>
                    <span asp-validation-for="HRRS_ITRequest.Replacement" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.Computer" asp-items="@Model.ComputerList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select Computer -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.Computer"></label>
                    <span asp-validation-for="HRRS_ITRequest.Computer" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.Email" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select Email -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.Email"></label>
                    <span asp-validation-for="HRRS_ITRequest.Email" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.EmailGroup" asp-items="@Model.EmailGroupList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select Email Group -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.EmailGroup"></label>
                    <span asp-validation-for="HRRS_ITRequest.EmailGroup" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.ComputerLogin" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.ComputerLogin"></label>
                    <span asp-validation-for="HRRS_ITRequest.ComputerLogin" class="text-warning"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.SAPAccess" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.SAPAccess"></label>
                    <span asp-validation-for="HRRS_ITRequest.SAPAccess" class="text-warning"></span>
                </div>
            </div>                       
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.WFXAccess" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.WFXAccess"></label>
                    <span asp-validation-for="HRRS_ITRequest.WFXAccess" class="text-warning"></span>
                </div>
            </div>                       
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.Landnewline" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.Landnewline"></label>
                    <span asp-validation-for="HRRS_ITRequest.Landnewline" class="text-warning"></span>
                </div>
            </div>                                   
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.ExistingLandLine" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.ExistingLandLine"></label>
                    <span asp-validation-for="HRRS_ITRequest.ExistingLandLine" class="text-warning"></span>
                </div>
            </div>                                               
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.Extension" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.Extension"></label>
                    <span asp-validation-for="HRRS_ITRequest.Extension" class="text-warning"></span>
                </div>
            </div>                                                           
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.SmartPhone" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.SmartPhone"></label>
                    <span asp-validation-for="HRRS_ITRequest.SmartPhone" class="text-warning"></span>
                </div>
            </div>                                                                       
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.BasicPhone" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.BasicPhone"></label>
                    <span asp-validation-for="HRRS_ITRequest.BasicPhone" class="text-warning"></span>
                </div>
            </div>                                                                                   
            <div class="col-md-3">
                <div class="form-floating form-floating-outline">
                    <select asp-for="HRRS_ITRequest.SIM" asp-items="@Model.ChoiceList" class="select2 form-select" data-allow-clear="true">
                        <option value="" Disabled Selected>- Select -</option>
                    </select>

                    <label asp-for="HRRS_ITRequest.SIM"></label>
                    <span asp-validation-for="HRRS_ITRequest.SIM" class="text-warning"></span>
                </div>
            </div>
            <div class="col-3" id="homeAddressContainer" style="display: none;">
                <div class="form-floating form-floating-outline">
                    <textarea asp-for="HRRS_ITRequest.HomeAddress" class="form-control" placeholder="Home Address"></textarea>
                    <label asp-for="HRRS_ITRequest.HomeAddress"></label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating form-floating-outline">
                    <textarea asp-for="HRRS_ITRequest.RequestRemark" class="form-control" placeholder="Request Remark"></textarea>
                    <label asp-for="HRRS_ITRequest.RequestRemark"></label>
                </div>
            </div>            
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary me-1">Submit</button>
            <a asp-action="Create" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>

