@using TMIS.Models.ITIS.VM
@model IEnumerable<ApproveDeviceUserVM>


@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
	<link href="~/vendor/libs/toastr/toastr.css" rel="stylesheet" />
}

@section PageScripts {
	<script src="~/custom/loading-hide.js"></script>
	<script src="~/custom/tables-datatables-basic.js"></script>
	@if (TempData["success"] != null)
	{
		<script src="~/vendor/libs/toastr/toastr.js"></script>
		<script type="text/javascript">
			toastr.success('@TempData["success"]');
		</script>
		TempData.Clear();
	}
}

@await Html.PartialAsync("_Loading")

@* ************** Content ************** *@
<!-- Ajax Sourced Server-side -->
<div class="panelDiv">
	<div class="card mb-6">
		<h5 class="card-header page-header">Approve Device Request</h5>
		<div class="card-body">
			<div class="tab-content p-0">
				<div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">								
					<div class="card-datatable text-nowrap">
						<table class="datatables-ajax table table-bordered dt-tbl">
							<thead>
								<tr class="table-info">															
									<th>Device Type</th>
									<th>Device Name</th>
									<th class ="text-start">Serial#</th>
									<th>Employee</th>
									<th>Designation</th>
									<th>Assigned Date</th>
									<th>Location</th>
									<th>Department</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
								  <tr>									
									  <td>@item.DeviceType</td>
									  <td>@item.DeviceName</td>
									  <td class="text-start">@item.SerialNumber</td>
									  <td>@item.EmpName</td>
									  <td>@item.Designation</td>									 
									  <td>@(DateTime.TryParse(item.AssignedDate, out var parsedDate) ? parsedDate.ToString("MM-dd-yyyy") : "-")</td>
									  <td>@item.LocationName</td>
									  <td>@item.DepartmentName</td>									  									
									  <td>
										  <a class="edit-record btn btn-primary btn-sm" asp-controller="ApproveDeviceUser" asp-action="Approve" asp-route-assignmentID="@item.AssignmentID"> <i class="ri-contract-fill"></i> </a>
									  </td>
								  </tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


